<p-progressSpinner *ngIf="(studentState.loading$ | async)"></p-progressSpinner>
<p-message *ngIf="(studentState.error$ | async) as error" text="{{ error }}" severity="error"></p-message>

<div *ngIf="!(studentState.loading$ | async) && !(studentState.error$ | async)">
  <h1>Students</h1>
  <table>
    <thead>
    <tr>
      <th>Nr. Matricol</th>
      <th>Nume</th>
      <th>An</th>
      <th>Sectie</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of (studentState.students$ | async)">
      <td>{{item.nrMatricol}}</td>
      <td>{{item.nume}}</td>
      <td>{{item.an}}</td>
      <td>{{item.sectie}}</td>
    </tr>
    </tbody>
  </table>

  <p-button (click)="loadAddNewStudent()  ">Add new student</p-button>
</div>
